:root {
	--BG: #181818;
	--BG_DARK: #080808;
	--FG:#FFEEBB;
	
	--linkColor: #00D0FF;
	
	--Corner_Rad: 8rem;
}

@font-face {
	font-family: Cascadia;
	src: url('Res/Cascadia Code.ttf');
}

body {
	font-family: Cascadia;
	margin: 0;
	padding: 0;
	background-color: var(--BG);
}

a {
	color: var(--linkColor);
	text-decoration: none;
}

footer {
	
	position: fixed;
	left: 20%;
	
	bottom: .5rem; 
	padding: .2rem;
	
	width: 60%;
	border-radius: 2rem;

	text-align: center;
	font-size: .8rem;
	
	color: var(--FG);  
	background-color: #080808;  
}


.heading {
	margin-top: 10rem;
	margin-left: 20%;

	/* text-align: center; */

	color: var(--FG);
	font-size: 2rem;
}

.uc {

	margin-top: 2%;
	margin-left: 20%;
	padding-left: 2%;

	border-bottom-left-radius: var(--Corner_Rad);

	background-color: var(--FG);
	color: var(--BG);
	font-size: 15rem;
	font-weight:700;

	box-shadow: -1rem 1rem .6rem var(--BG_DARK);
}
